*{
    font-size: 25px;
   padding: 0px;
   margin: 0px;
}
#navbar{
    background-color: #03045e ;
    
    text-align: right;
}
a{
    color: #ade8f4;
    text-decoration: none;
    padding-right: 20px;
}
#main{
    background-color: #023e8a;
    color: #edf6f9;
    background-image: url(image0_0_watermark.jpg);
    background-size: cover;
}
ol{
    padding-left: 40px;
}
li{
    display: list-item;
}